{% load static %}

<div class="row answer">
  <div class="col-2">
    <img class="avatar-question" src="uploads/{{ answer.user }}/avatar.jpg" alt="">
  </div>
  <div class="col-10" style="display: grid">
    <span style="margin-bottom: 10px;">{{ answer.text }}</span>
    <div class="row question-tags">
      <div class="col-8 form-check">
          {% if answer.relevance == True %}
            <input class="form-check-input ugly-checkbox" type="checkbox" checked="yes">
          {% else %}
            <input class="form-check-input ugly-checkbox" type="checkbox">
          {% endif %}
        <label class="form-check-label" for="flexCheckDefault">
          Really ugly!
        </label>
      </div>
      <div class="col-4 row">
        <button type="button" class="col-6 btn btn-like">
          <span class="like-text">Likes<span class="like-text counters">{{ likes }}</span></span>
        </button>
        <button type="button" class="col-6 btn btn-like">
          <span class="like-text">Hates<span class="like-text counters">{{ dislikes }}</span></span>
        </button>
      </div>
    </div>
  </div>
</div>
