{% load static %}

{% for quest, likes, dislikes in question %}
  <div class="row question-main">
    <div class="col-2">
      <img class="avatar-question-main" src="uploads/{{ quest.user }}/avatar.jpg" alt="">
    </div>
    <div class="col-10">
      <h4><a class="link-usual" href="#">Question {{ quest.index }}. {{ quest.title }}</a></h4>
      <span style="margin-bottom: 10px;">{{ quest.text }}</span>
      <div class="row question-tags">
        <div class="col-8" style="display: flex; margin: auto 0 0 0; padding: initial;">
          <span>Tags: &nbsp</span>
          {% for tag in quest.tags.all %}
            <a class="link-usual" href={% url 'tags' tag %}>{{ tag }}</a>
          {% endfor %}
        </div>
        <div class="col-4 row">
          <button type="button" class="col-6 btn btn-like">
            <span class="like-text">Likes<span class="like-text counters">{{ likes }}</span></span>
          </button>
          <button type="button" class="col-6 btn btn-like">
            <span class="like-text">Hates<span class="like-text counters">{{ dislikes }}</span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
