{% extends "includes/base.html" %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-6">
      <a class="link-question" href={% url 'index' %}><h3 class="head">New questions</h3></a>
    </div>
    <div class="col-6">
      <a class="link-question-active" href='#'><h3 class="head">Ugliest questions</h3></a>
    </div>
  </div>

  {% for quest, answers, likes, dislikes in page %}
    {% include "includes/one_question.html" %}
  {% endfor %}

  {% include "includes/paginator.html" %}

{% endblock content %}



